# 需求
读取rates.csv文件，完成：
- 1.将每1分做为一档，电影的评分共分为5档，(0:1], (1,2], (2, 3], (3, 4], (4, 5], 通过pandas包求出每个评分档共有多少部电影
- 2.添加一个comment列，对平均分4分以上的电影标‘推荐’，其他标‘不推荐’，输出到一个comment.csv中

In [1]:
import pandas as pd

In [3]:
rates = pd.read_csv('ml-latest-small/ratings.csv')

In [4]:
rates.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## task 1

In [5]:
rates['grade'] = pd.cut(rates['rating'], bins=[0, 1, 2, 3, 4, 5])

In [8]:
rates['grade'].value_counts()

(3, 4]    39954
(2, 3]    25597
(4, 5]    21762
(1, 2]     9342
(0, 1]     4181
Name: grade, dtype: int64

## task 2

In [9]:
rates['comment'] = '不推荐'
rates.loc[rates['rating']>4, 'comment'] = '推荐'

In [10]:
rates.head()

   userId  movieId  rating  timestamp   grade comment
0       1        1     4.0  964982703  (3, 4]     不推荐
1       1        3     4.0  964981247  (3, 4]     不推荐
2       1        6     4.0  964982224  (3, 4]     不推荐
3       1       47     5.0  964983815  (4, 5]      推荐
4       1       50     5.0  964982931  (4, 5]      推荐