# 需求
对数据集中的3个csv文件进行聚合，生成一个csv，包含电影的信息，其中每部电影一行，信息包括电影名称、主演、平均分、所有tag

In [1]:
import pandas as pd

In [2]:
tags = pd.read_csv('ml-latest-small/tags.csv')

In [3]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [4]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [5]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
movies = pd.read_csv('ml-latest-small/movies.csv')

In [7]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
result = movies\
        .merge(ratings[['movieId', 'rating']], on='movieId', how='left')\
        .merge(tags[['movieId', 'tag']], on='movieId', how='left')

In [9]:
result.head()

,movieId,title,genres,rating,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,fun
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar

In [10]:
def stradd(strs):
    output = ''
    for str_ in strs:
        if isinstance(str_, str):
            output += str_ + ','
    return output[:-1]

In [11]:
result = result.groupby('title').agg({'rating': 'mean', 'tag': stradd, 'genres': stradd})
result.reset_index(inplace=True)

In [12]:
result.head()

,title,rating,tag,genres
0,'71 (2014),4.0,,Action|Drama|Thriller|War
1,'Hellboy': The Seeds of Creation (2004),4.0,,Action|Adventure|Comedy|Documentary|Fantasy
2,'Round Midnight (1986),3.5,,"Drama|Musical,Drama|Musical"
3,'Salem's Lot (2004),5.0,,Drama|Horror|Mystery|Thriller
4,'Til There Was You (1997),4.0,,"Drama|Romance,Drama|Romance"